{% extends "base.html" %}

{% block content %}
  {% set section = get_section(path="posts/_index.md") %}
  {% if section %}
    {% for page in section.pages %}
    <article class="list__item clearfix">
      <header class="list__header">
        <h2 class="list__title">
          <a href="{{ page.permalink }}" rel="bookmark">{{ page.title }}</a>
        </h2>
        {% set show_author = false %}
        {% set meta_class = "list__meta meta" %}
        {% include "partials/meta.html" %}
      </header>
      {% if page.summary %}
      <div class="list__summary content">{{ page.summary | safe }}</div>
      {% elif page.description %}
      <p class="list__summary">{{ page.description }}</p>
      {% endif %}
      <footer class="list__footer clearfix">
        <a class="list__footer-readmore btn" href="{{ page.permalink }}">Read more</a>
      </footer>
    </article>
    {% endfor %}
  {% else %}
    <div class="main__header">
      <h1 class="main__title">{{ config.title }}</h1>
      <p>{{ config.description }}</p>
    </div>
  {% endif %}
{% endblock content %}
