{% extends "base.html" %}

{% block content %}
<header class="main__header">
  <h1 class="main__title">{{ term.name }}</h1>
  <p class="meta">{{ term.pages | length }} post{% if term.pages | length != 1 %}s{% endif %}</p>
</header>

{% for page in term.pages %}
<article class="list__item clearfix">
  <header class="list__header">
    <h2 class="list__title">
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h2>
    {% set show_author = false %}
    {% set meta_class = "list__meta meta" %}
    {% include "partials/meta.html" %}
  </header>
  {% if page.description %}
  <p class="list__summary">{{ page.description }}</p>
  {% endif %}
</article>
{% endfor %}
{% endblock content %}
