{% set widgets = config.extra.widgets | default(value=["recent", "categories", "tags", "social"]) %}
{% set side = config.extra.sidebar | default(value="right") %}
<aside class="sidebar{% if side == 'left' %} sidebar--left{% endif %}">
  {% for w in widgets %}
    {% if w == "search" %}
      {% include "partials/widgets/search.html" %}
    {% elif w == "recent" %}
      {% include "partials/widgets/recent.html" %}
    {% elif w == "categories" %}
      {% include "partials/widgets/categories.html" %}
    {% elif w == "tags" %}
      {% include "partials/widgets/tags.html" %}
    {% elif w == "social" %}
      {% include "partials/widgets/social.html" %}
    {% endif %}
  {% endfor %}
</aside>
